@charset "utf-8";
$per_100:100%;
$in_block:inline-block;
$border:#F0F0F0;
$white:#fff;
$bg_color:#F0F0F0;
$ck_ok:#60D1A5;
$ck_no:#8A8A8A;
$main_color:#EF5661;
/*个人中心*/
$person_color:#1F2A33;
$person_font:#75C4C0;
$person_year:#484f58;
$person_intro:#606877;