@charset "utf-8";
@import "variable";
@import "animate";
@import "comm";
html,body{
  width: $per_100;
  height: $per_100;
  background-color: $bg_color;
}
.activity-container{
  margin-top: 10px;
  background-color: $white;
  li{
    padding-left: 10px;
    height: 50px;
    line-height: 50px;
  }
  .activity-item{
    display: $in_block;
    width: $per_100;
    position: relative;
    border-bottom: 1px solid $border;
  }
}
.main-title{
  margin-top: 10px;
  background-color: $white;
  height: 50px;
  padding-left: 10px;
  .am-form-field{
    height: 50px;
    line-height: 50px;
  }
}
.submit-data{
  position: fixed;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  font-size: 1.4rem;
  text-align: center;
  display: $in_block;
  width: $per_100;
  background-color: red;
  color: $white!important;
}