.party-form select,
.party-form textarea,
.party-form input[type="text"],
.party-form input[type="password"],
.party-form input[type="datetime"],
.party-form input[type="datetime-local"],
.party-form input[type="date"],
.party-form input[type="month"],
.party-form input[type="time"],
.party-form input[type="week"],
.party-form input[type="number"],
.party-form input[type="email"],
.party-form input[type="url"],
.party-form input[type="search"],
.party-form input[type="tel"],
.party-form input[type="color"],
.party-form-field {
  display: block;
  width: 100%;
  padding: 0.5em;
  font-size: 1.6rem;
  line-height: 1.2;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.party-form select:focus,
.party-form textarea:focus,
.party-form input[type="text"]:focus,
.party-form input[type="password"]:focus,
.party-form input[type="datetime"]:focus,
.party-form input[type="datetime-local"]:focus,
.party-form input[type="date"]:focus,
.party-form input[type="month"]:focus,
.party-form input[type="time"]:focus,
.party-form input[type="week"]:focus,
.party-form input[type="number"]:focus,
.party-form input[type="email"]:focus,
.party-form input[type="url"]:focus,
.party-form input[type="search"]:focus,
.party-form input[type="tel"]:focus,
.party-form input[type="color"]:focus,
.party-form-field:focus {
  outline: 0;
}
.party-form select:focus,
.party-form textarea:focus,
.party-form input[type="text"]:focus,
.party-form input[type="password"]:focus,
.party-form input[type="datetime"]:focus,
.party-form input[type="datetime-local"]:focus,
.party-form input[type="date"]:focus,
.party-form input[type="month"]:focus,
.party-form input[type="time"]:focus,
.party-form input[type="week"]:focus,
.party-form input[type="number"]:focus,
.party-form input[type="email"]:focus,
.party-form input[type="url"]:focus,
.party-form input[type="search"]:focus,
.party-form input[type="tel"]:focus,
.party-form input[type="color"]:focus,
.party-form-field:focus {
  background-color: #fefffe;
  border-color: #3bb4f2;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 5px rgba(59, 180, 242, 0.3);
}
.party-form select::-webkit-input-placeholder,
.party-form textarea::-webkit-input-placeholder,
.party-form input[type="text"]::-webkit-input-placeholder,
.party-form input[type="password"]::-webkit-input-placeholder,
.party-form input[type="datetime"]::-webkit-input-placeholder,
.party-form input[type="datetime-local"]::-webkit-input-placeholder,
.party-form input[type="date"]::-webkit-input-placeholder,
.party-form input[type="month"]::-webkit-input-placeholder,
.party-form input[type="time"]::-webkit-input-placeholder,
.party-form input[type="week"]::-webkit-input-placeholder,
.party-form input[type="number"]::-webkit-input-placeholder,
.party-form input[type="email"]::-webkit-input-placeholder,
.party-form input[type="url"]::-webkit-input-placeholder,
.party-form input[type="search"]::-webkit-input-placeholder,
.party-form input[type="tel"]::-webkit-input-placeholder,
.party-form input[type="color"]::-webkit-input-placeholder,
.party-form-field::-webkit-input-placeholder {
  color: #999999;
}
.party-form select::-moz-placeholder,
.party-form textarea::-moz-placeholder,
.party-form input[type="text"]::-moz-placeholder,
.party-form input[type="password"]::-moz-placeholder,
.party-form input[type="datetime"]::-moz-placeholder,
.party-form input[type="datetime-local"]::-moz-placeholder,
.party-form input[type="date"]::-moz-placeholder,
.party-form input[type="month"]::-moz-placeholder,
.party-form input[type="time"]::-moz-placeholder,
.party-form input[type="week"]::-moz-placeholder,
.party-form input[type="number"]::-moz-placeholder,
.party-form input[type="email"]::-moz-placeholder,
.party-form input[type="url"]::-moz-placeholder,
.party-form input[type="search"]::-moz-placeholder,
.party-form input[type="tel"]::-moz-placeholder,
.party-form input[type="color"]::-moz-placeholder,
.party-form-field::-moz-placeholder {
  color: #999999;
}
.party-form select:-ms-input-placeholder,
.party-form textarea:-ms-input-placeholder,
.party-form input[type="text"]:-ms-input-placeholder,
.party-form input[type="password"]:-ms-input-placeholder,
.party-form input[type="datetime"]:-ms-input-placeholder,
.party-form input[type="datetime-local"]:-ms-input-placeholder,
.party-form input[type="date"]:-ms-input-placeholder,
.party-form input[type="month"]:-ms-input-placeholder,
.party-form input[type="time"]:-ms-input-placeholder,
.party-form input[type="week"]:-ms-input-placeholder,
.party-form input[type="number"]:-ms-input-placeholder,
.party-form input[type="email"]:-ms-input-placeholder,
.party-form input[type="url"]:-ms-input-placeholder,
.party-form input[type="search"]:-ms-input-placeholder,
.party-form input[type="tel"]:-ms-input-placeholder,
.party-form input[type="color"]:-ms-input-placeholder,
.party-form-field:-ms-input-placeholder {
  color: #999999;
}
.party-form select::placeholder,
.party-form textarea::placeholder,
.party-form input[type="text"]::placeholder,
.party-form input[type="password"]::placeholder,
.party-form input[type="datetime"]::placeholder,
.party-form input[type="datetime-local"]::placeholder,
.party-form input[type="date"]::placeholder,
.party-form input[type="month"]::placeholder,
.party-form input[type="time"]::placeholder,
.party-form input[type="week"]::placeholder,
.party-form input[type="number"]::placeholder,
.party-form input[type="email"]::placeholder,
.party-form input[type="url"]::placeholder,
.party-form input[type="search"]::placeholder,
.party-form input[type="tel"]::placeholder,
.party-form input[type="color"]::placeholder,
.party-form-field::placeholder {
  color: #999999;
}
.party-form select::-moz-placeholder,
.party-form textarea::-moz-placeholder,
.party-form input[type="text"]::-moz-placeholder,
.party-form input[type="password"]::-moz-placeholder,
.party-form input[type="datetime"]::-moz-placeholder,
.party-form input[type="datetime-local"]::-moz-placeholder,
.party-form input[type="date"]::-moz-placeholder,
.party-form input[type="month"]::-moz-placeholder,
.party-form input[type="time"]::-moz-placeholder,
.party-form input[type="week"]::-moz-placeholder,
.party-form input[type="number"]::-moz-placeholder,
.party-form input[type="email"]::-moz-placeholder,
.party-form input[type="url"]::-moz-placeholder,
.party-form input[type="search"]::-moz-placeholder,
.party-form input[type="tel"]::-moz-placeholder,
.party-form input[type="color"]::-moz-placeholder,
.party-form-field::-moz-placeholder {
  opacity: 1;
}
.party-form select[disabled],
.party-form textarea[disabled],
.party-form input[type="text"][disabled],
.party-form input[type="password"][disabled],
.party-form input[type="datetime"][disabled],
.party-form input[type="datetime-local"][disabled],
.party-form input[type="date"][disabled],
.party-form input[type="month"][disabled],
.party-form input[type="time"][disabled],
.party-form input[type="week"][disabled],
.party-form input[type="number"][disabled],
.party-form input[type="email"][disabled],
.party-form input[type="url"][disabled],
.party-form input[type="search"][disabled],
.party-form input[type="tel"][disabled],
.party-form input[type="color"][disabled],
.party-form-field[disabled],
.party-form select[readonly],
.party-form textarea[readonly],
.party-form input[type="text"][readonly],
.party-form input[type="password"][readonly],
.party-form input[type="datetime"][readonly],
.party-form input[type="datetime-local"][readonly],
.party-form input[type="date"][readonly],
.party-form input[type="month"][readonly],
.party-form input[type="time"][readonly],
.party-form input[type="week"][readonly],
.party-form input[type="number"][readonly],
.party-form input[type="email"][readonly],
.party-form input[type="url"][readonly],
.party-form input[type="search"][readonly],
.party-form input[type="tel"][readonly],
.party-form input[type="color"][readonly],
.party-form-field[readonly],
fieldset[disabled] .party-form select,
fieldset[disabled] .party-form textarea,
fieldset[disabled] .party-form input[type="text"],
fieldset[disabled] .party-form input[type="password"],
fieldset[disabled] .party-form input[type="datetime"],
fieldset[disabled] .party-form input[type="datetime-local"],
fieldset[disabled] .party-form input[type="date"],
fieldset[disabled] .party-form input[type="month"],
fieldset[disabled] .party-form input[type="time"],
fieldset[disabled] .party-form input[type="week"],
fieldset[disabled] .party-form input[type="number"],
fieldset[disabled] .party-form input[type="email"],
fieldset[disabled] .party-form input[type="url"],
fieldset[disabled] .party-form input[type="search"],
fieldset[disabled] .party-form input[type="tel"],
fieldset[disabled] .party-form input[type="color"],
fieldset[disabled] .party-form-field {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.party-form select.am-radius,
.party-form textarea.am-radius,
.party-form input[type="text"].am-radius,
.party-form input[type="password"].am-radius,
.party-form input[type="datetime"].am-radius,
.party-form input[type="datetime-local"].am-radius,
.party-form input[type="date"].am-radius,
.party-form input[type="month"].am-radius,
.party-form input[type="time"].am-radius,
.party-form input[type="week"].am-radius,
.party-form input[type="number"].am-radius,
.party-form input[type="email"].am-radius,
.party-form input[type="url"].am-radius,
.party-form input[type="search"].am-radius,
.party-form input[type="tel"].am-radius,
.party-form input[type="color"].am-radius,
.party-form-field.am-radius {
  border-radius: 2px;
}
.party-form select.am-round,
.party-form textarea.am-round,
.party-form input[type="text"].am-round,
.party-form input[type="password"].am-round,
.party-form input[type="datetime"].am-round,
.party-form input[type="datetime-local"].am-round,
.party-form input[type="date"].am-round,
.party-form input[type="month"].am-round,
.party-form input[type="time"].am-round,
.party-form input[type="week"].am-round,
.party-form input[type="number"].am-round,
.party-form input[type="email"].am-round,
.party-form input[type="url"].am-round,
.party-form input[type="search"].am-round,
.party-form input[type="tel"].am-round,
.party-form input[type="color"].am-round,
.party-form-field.am-round {
  border-radius: 1000px;
}
.party-form textarea,
.party-form select[multiple],
.party-form select[size] {
  height: auto;
}
.party-form select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  -webkit-border-radius: 0;
  background: #ffffff url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+') no-repeat 100% center;
}
.party-form select[multiple="multiple"] {
  background-image: none;
}
