@charset "utf-8";
@import "variable";
@import "animate";
@import "comm";
html,body{
  position: relative;
  font-size: 62.5%;
}
.part-nav{
  position: fixed;
  width: $per_100;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  background-color: $white;
}
.part-nav.change-status{
  background-color: #c7c7c7;
}

.nav-item{
  display: $in_block;
  height: $per_100;
  font-size: 1.6rem;
  padding: 0 4px 0 4px;

}
.filter{
  float: left;
}
.account{

}
.logo{
  text-align: center;
  width: 50px;
}
.nav-person{
  float: right;
}
.add-active{
  line-height: 20px;
  padding-right: 6px;
  border-right: 1px solid $border;
}
.filter-place{
  padding-right: 30px;
  .am-icon-angle-down{
    margin-left: 8px;
    font-size: 1.4rem;
  }
}

.city,.condition{
  position: fixed;
  display: none;
  top: 50px;
  z-index: 9999;
  width: $per_100;
  height: $per_100;
  background-color: rgba(0,0,0,.3);
  .submit-sure{
    text-align: center;
    height: 60px;
    line-height: 60px;
    .am-round{
      border: 1px solid $main_color;
      color: $main_color;
      width: 40%;
    }
  }
  .city-wrap,.condition-wrap{
    background-color: $white;
    .checked-items,.checked-tips{
      height: 50px;
      font-size: 1.6rem;
      line-height: 50px;
      padding-left: 10px;
      border-bottom: 1px solid $border;
    }
    a{
      display: $in_block;
      width: $per_100;
      hheight: 50px;
      position: relative;
    }
    .checked-tips{
      color: $main_color;
    }
    .check-icon{
      position: absolute;
      right: 18px;
    }
    .check-icon.am-icon-check{
        color: $ck_ok;
    }
    .am-icon-close{
      padding: 0 20px 0 20px;
      position: absolute;
      right: 0;
      color: $ck_no;
    }
  }
  .checked-sure{
    display: $in_block;
    width: 120px;
    margin-top: 10px;
    height: 40px;
    background: url("../img/shaixuan/queding@2x.png") 120px 40px no-repeat;
  }
}
.city.city-status,.condition.condition-status{
  display: block;
  @include animate-lite(slideInLeft,.5,0,1,normal,running,forwards);

}


.part-container{
  padding-top: 60px;
}
/*轮播*/
.am-control-nav{
  .am-active{
    color: $main_color!important;
  }
}
.am-slider{

}
.info{
  height: 50px;
  background-color: red;
}
